<title>LeforsISDApp</title>
<script src="https://cdn.logrocket.io/LogRocket.min.js" crossorigin="anonymous"></script>
<script>window.LogRocket && window.LogRocket.init('nbm0os/leforsisd');
LogRocket.identify('nbm0os:leforsisd:WolUO6Pp3in5hGfqKYEC', {

  Page: 'Home'
});</script>
<div id="navbar">
  <a class="active" href="">Home</a>
  <a href="/classes">Classes</a>
  <a href="update-log.txt">Update Log</a>
  <a style="float:right" href="login">Login</a>
</div>



























<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
<style>
body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: orange;
  height: 7%;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   /* Never get smaller than this */
  font-size: 40px;
}


#navbar a:hover {
  background-color: white;
  color: black;
}

#navbar a.active {
  background-color: orange;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  height: 25%; 
}

.sticky + .content {
  padding-top: 60px;
}

</style>


